# 現在のディレクトリ位置をrootとする
root = true

# 全てのファイルに対する設定
[*]
# 改行コード
end_of_line = lf
# 文字コード
charset = utf-8
# ファイル末尾に空行を追加する
insert_final_newline = true
# 行末尾の空白文字を削除する
trim_trailing_whitespace = true
# 最終行に空行を挿入する
insert_final_newline = true
# インデント指定
indent_style = space
# インデントの幅
indent_size = 2

# Markdownに対する設定
[*.md]
# 行末尾の空白文字を削除しない
# markdownでは行末のスペース2つが改行を表すため
trim_trailing_whitespace = false
