<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>トップタイトル</title>
</head>
<body>
<div class="conatiner">

    <% var msgMsg = 'Hello World 10'; %>

    <div>
        <h2><%= msgMsg %></h2>
    </div>

</div>
</body>
</html>
