<!DOCTYPE html>
<html>

  <%- include('../common/_head', {title:"TOP PAGE"}); %>

<body>
  <%# header %>
  <%- include('../common/_header'); %>

  <%# main %>
  <div class="conatiner">
    <main class="contents"></main>
    <aside class="sidemenu"></aside>
  </div>

  <%# footer %>
  <%- include('../common/_footer'); %>

  <%# javascript %>
  <!-- inject:js -->
  <!-- endinject -->
</body>

</html>
