<!DOCTYPE html>
<html>

<%- include('../common/_head', {pageTitle:"TOP PAGE"}); %>

<body>
  <%# header %>
  <%- include('../common/_header'); %>

  <%# main %>
  <div id="container" class="conatiner" style="width: 400px;">
    <main class="contents">
      contents
    </main>
    <aside class="sidemenu"></aside>
  </div>

  <%# footer %>
  <%- include('../common/_footer'); %>

  <%# javascript %>
  <!-- inject:js -->
  <!-- endinject -->
</body>

</html>
